{% extends '@OpensoftStorage/layout.html.twig' %}

{% from '@OpensoftStorage/macros.html.twig' import label, time %}

{% block opensoft_storage_title %}View Storage File {{ file.id }}{% endblock %}

{% block opensoft_storage_breadcrumb %}
    <h2>Storage File {{ file.id }}</h2>
    <ol class="breadcrumb">
        {% if block('opensoft_storage_breadcrumb_prefix') is defined %}
            {{ block('opensoft_storage_breadcrumb_prefix') }}
        {% endif %}
        <li>
            <a href="{{ path('opensoft_storage_list_storages') }}">File Storage</a>
        </li>
        <li>
            <a href="{{ path('opensoft_storage_show_storage', {'id': file.storage.id}) }}">{{ file.storage.name }}</a>
        </li>
        <li class="active">
            <strong>{{ file.id }}</strong>
        </li>
    </ol>
{% endblock %}

{% block opensoft_storage_breadcrumb_actions %}
    {% if is_granted('ROLE_ADMIN_STORAGE_MANAGER') %}
        <div class="title-action">
            <a class="btn btn-danger btn-sm" href="{{ path('opensoft_storage_delete_storage_file', {'id': file.id}) }}"
                onclick="return confirm('Are you sure you want to delete this permantently stored file?');">
                <i class="fa fa-ban"></i> Delete
            </a>
        </div>
    {% endif %}
{% endblock %}

{% block opensoft_storage_content %}
    <div class="row">
        <div class="col-lg-7">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>Details</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="table-responsive">
                    <table class="table table-hover">
                        <tbody>
                        <tr>
                            <td class="no-borders"><strong>ID</strong></td>
                            <td class="no-borders">{{ file.id }}</td>
                        </tr>
                        <tr>
                            <td><strong>Reference URLs</strong></td>
                            <td>
                                <dl class="dl-horizontal">
                                    <dt>Absolute URL</dt>
                                    <dd>
                                        <a href="{{ storage_url(file, 'absolute_url') }}" target="_blank">
                                            {{ storage_url(file, 'absolute_url') }} <i class="fa fa-external-link"></i>
                                        </a>
                                    </dd>

                                    <dt>Permanent URL</dt>
                                    <dd>
                                        <a href="{{ storage_url(file, 'permanent_url') }}" target="_blank">
                                            {{ storage_url(file, 'permanent_url') }} <i class="fa fa-external-link"></i>
                                        </a>
                                    </dd>
                                </dl>
                            </td>
                        </tr>
                        <tr>
                            <td><strong>Storage</strong></td>
                            <td>
                                <a href="{{ path('opensoft_storage_show_storage', {'id': file.storage.id}) }}">
                                    {{ file.storage.name }}
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td><strong>Storage Key</strong></td>
                            <td>{{ file.key }}</td>
                        </tr>
                        <tr>
                            <td><strong>Mime Type</strong></td>
                            <td>{{ file.mimeType }}</td>
                        </tr>
                        <tr>
                            <td><strong>Size (in bytes)</strong></td>
                            <td><span title="{{ file.size|number_format }}">{{ file.size|format_bytes }}</span></td>
                        </tr>
                        <tr>
                            <td><strong>Created At</strong></td>
                            <td>
                                {{ time(file.createdAt) }}
                            </td>
                        </tr>
                        <tr>
                            <td><strong>Last Modified</strong></td>
                            <td>
                                {% if file.exists %}
                                    {{ time(file.mtime) }}
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td><strong>Content Hash</strong></td>
                            <td>{{ file.contentHash }}</td>
                        </tr>
                        <tr>
                            <td><strong>Exists</strong></td>
                            <td>
                                {{ label(file.exists ? 'Yes' : 'No', file.exists ? 'success' : 'warning') }}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    </div>
                </div>
                {% if policy and (policy.moveAfterInterval or policy.deleteAfterInterval) %}
                <div class="ibox-content">
                    <h4>Active Policies</h4>
                    <div class="table-responsive">
                    <table class="table table-hover">
                        <tbody>
                        {# Move policies first #}
                        {% if policy.moveAfterInterval and policy.moveFromStorage == file.storage %}
                            <tr>
                                <td>
                                    <strong>Move Policy</strong>
                                </td>
                                <td>
                                    {% if policy.moveFromStorage %}
                                        After <code>{{ policy.moveAfterInterval }}</code>, move file to <code>{{ policy.moveToStorage }}</code>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endif %}

                        {# Delete policy #}
                        {% if policy.deleteAfterInterval %}
                            <tr>
                                <td>
                                    <strong>Delete Policy</strong>
                                </td>
                                <td>
                                    Delete file after <code>{{ policy.deleteAfterInterval }}</code>
                                </td>
                            </tr>
                        {% endif %}
                        </tbody>
                    </table>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
        <div class="col-md-5 storage-file-preview-container">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>{{ fileTypes[file.type] }}</h5>
                    <div class="ibox-tools">
                        <a class="btn btn-primary btn-xs" href="{{ storage_url(file) }}" download>
                            <i class="fa fa-fw fa-download"></i>Download File
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    {% include "@OpensoftStorage/storage/show_file_preview.html.twig" with {'file': file } %}
                </div>
            </div>
        </div>
    </div>

    {% if file.moveExceptions %}
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>Move Exceptions <i class="fa fa-warning"></i></h5>
                </div>
                <div class="ibox-content">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Timestamp</th>
                                    <th>From Storage</th>
                                    <th>To Storage</th>
                                    <th>Exception</th>
                                </tr>
                            </thead>
                            {% for moveException in file.moveExceptions %}
                            <tr>
                                <td>{{ moveException.createdAt|date }}</td>
                                <td>{{ moveException.fromStorage.name }}</td>
                                <td>{{ moveException.toStorage.name }}</td>
                                <td><p title="{{ moveException.exceptionBacktrace }}">{{ moveException.exceptionString }}</p></td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
{% endblock %}

{% block opensoft_storage_foot_script %}

    {{ parent() }}
   <script src="{{ asset('bundles/opensoftstorage/js/pdf.js') }}"></script>

{% endblock %}
