{% macro badge(text, type, use_raw) %}
<span class="badge {{ type|default(false) ? 'badge-'~type : 'badge-default' }}">{{ use_raw|default(false) ? text|raw : text }}</span>
{% endmacro %}

{% macro label(text, type, use_raw, block) %}
{% set tag = block|default(false) ? 'div' : 'span' %}
<{{ tag }} class="label {{ type|default(false) ? 'label-'~type : 'label-default' }}">{{ use_raw|default(false) ? text|raw : text }}</{{ tag }}>
{% endmacro %}

{# time support with moment.js if it exists #}
{% macro time(datetime) %}
<time class="js-relative-date" datetime="{{ datetime|date('Y-m-d H:i:sO') }}" title="{{ datetime|date('Y-m-d H:i:sO') }}">
    {{ datetime|date('Y-m-d H:i:sO') }}
</time>
{% endmacro %}
