{% extends '@OpensoftStorage/layout.html.twig' %}

{% from '@OpensoftStorage/macros.html.twig' import label, time %}

{% block opensoft_storage_title %}Storage File Type Policies{% endblock %}

{% block opensoft_storage_breadcrumb %}
    <h2>Storage Policies</h2>
    <ol class="breadcrumb">
        {% if block('opensoft_storage_breadcrumb_prefix') is defined %}
            {{ block('opensoft_storage_breadcrumb_prefix') }}
        {% endif %}
        <li>
            <a href="{{ path('opensoft_storage_list_storages') }}">File Storage</a>
        </li>
        <li class="active">
            <strong>Polices</strong>
        </li>
    </ol>
{% endblock %}

{% block opensoft_storage_content %}
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>Policies</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <p>
                        Storage File Policies allow administrators to configure how stored files are created, how they
                        are moved between different storages, and how they are eventually deleted.
                    </p>
                    <h4>Default Storage Policy</h4>
                    <p>
                        The default policy is as follows:
                    </p>
                    <dl class="dl-horizontal">
                        <dt>Write Policy</dt>
                        <dd>New storage files will be written to the default write storage.</dd>
                        <dt>Move Policy</dt>
                        <dd>(none) Files are not moved</dd>
                        <dt>Delete Policy</dt>
                        <dd>(none) Files are not deleted</dd>
                    </dl>
                </div>
                <div class="ibox-content">
                    <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Storage File Type</th>
                                <th>File Write Policy</th>
                                <th>File Move Policy</th>
                                <th>File Delete Policy</th>
                                <th>Policy Created</th>
                                {% if is_granted('ROLE_ADMIN_STORAGE_MANAGER') %}
                                <th class="text-right">Actions</th>
                                {% endif %}
                            </tr>
                        </thead>
                        <tbody>
                        {% for type, typeName in types %}
                            {% set policy = policies[type]|default([]) %}
                            <tr>
                                <td>
                                    {{ type }} - {{ typeName }}
                                </td>
                                {% if policy %}
                                    <td>
                                        Write new files in <code>{{ policy.createInStorage.name }}</code>
                                    </td>
                                    <td>
                                        {% if policy.moveFromStorage %}
                                        After <code>{{ policy.moveAfterInterval }}</code>, move files from <code>{{ policy.moveFromStorage }}</code> to <code>{{ policy.moveToStorage }}</code>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if policy.deleteAfterInterval %}
                                        Delete files after <code>{{ policy.deleteAfterInterval }}</code>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {{ time(policy.createdAt) }}
                                    </td>
                                {% else %}
                                    <td colspan="4" class="text-center">
                                        <span class="help-text">No explicit policy defined</span>
                                    </td>
                                {% endif %}
                                {% if is_granted('ROLE_ADMIN_STORAGE_MANAGER') %}
                                <td class="text-right">
                                    {% if policy %}
                                        <a class="btn btn-default btn-xs" href="{{ path('opensoft_storage_edit_storage_policy', {'id': policy.id}) }}">
                                            Edit
                                        </a>
                                        <a class="btn btn-default btn-xs" href="{{ path('opensoft_storage_delete_storage_policy', {'id': policy.id}) }}"
                                            onclick="return confirm('Are you sure you want to delete this file storage policy?  The default storage policy will then apply for this type.');">
                                            Delete
                                        </a>
                                    {% else %}
                                        <a class="btn btn-default btn-xs" href="{{ path('opensoft_storage_create_storage_policy', {'type': type}) }}">
                                            Create
                                        </a>
                                    {% endif %}
                                </td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
